<%=require('./components/_head.html')%>
<body>
<%=require('./components/_sidebar.html')%>
<main id="wrapper">
    <%=require('./components/_header.html')%>
    <div data-router-wrapper>
        <article data-router-view="contacts">
            <section class="section hero">
                <div class="container">
                    <div class="section-box">
                        <h1 class="title-1 ttu">Contacts page</h1>
                    </div>
                </div>
            </section>
        </article>
    </div>
</main>
</body>
</html>