<%=require('./components/_head.html')%>
<body>
<%=require('./components/_sidebar.html')%>
<main id="wrapper">
    <%=require('./components/_header.html')%>
    <div data-router-wrapper>
        <article data-router-view="home">
            <section class="section hero">
                <div class="container">
                    <div class="section-box">
                        <span class="section-box-label">We are</span>
                        <h1 class="title-1 ttu">socially-led digital <i>production</i> agency</h1>
                    </div>
                </div>
            </section>
            <section class="section works-title">
                <div class="container">
                    <div class="section-box">
                        <span class="section-box-label">02</span>
                    </div>
                </div>
                <div class="title-abstract">
                    <div class="title-abstract-value">Works</div>
                </div>
            </section>
            <section class="section works">
                <div class="container">
                    <div class="section-box">
                        <span class="section-box-label">02</span>
                    </div>
                </div>
            </section>
        </article>
    </div>
</main>
</body>
</html>