<%=require('./components/_head.html')%>
<div id="wrapper">
    <%=require('./components/_header.html')%>
    <main data-router-wrapper>
        <article data-router-view="project">
            <section class="section hero">
                <div class="container">
                    <div class="section-box">
                        <h1 class="title-1 ttu">Project page</h1>
                    </div>
                </div>
            </section>
        </article>
    </main>
</div>
<%=require('./components/_scripts.html')%>