.works{
  padding: 78px 0 306px;
    &-title{
      padding: 30px 0;
    }
    &-list{
      margin: -30px -210px 0 0;
        &-box{
          position: relative;
          padding: 21px 0 24px;
            &:before{
              content: '';
              position: absolute;
              bottom: 0;
              left: -115px;
              right: -50vw;
              height: 1px;
              background-color: $white;
            }
            &:last-child{
              &:before{
                display: none;
              }
            }
            @include hover(991){
              &:hover{
                .work-thumb{
                  opacity: 1;
                  transition-delay: .3s;
                }
              }
            }
        }
    }
    .circle-box{
      bottom: -280px;
      left: 87px;
        &-link{
          top: -100px;
        }
    }
}