.work{
  position: relative;
  display: block;
    &-title{
      position: relative;
      text-transform: uppercase;
      display: inline-block;
        &-value{
          font-size: 116px;
          line-height: 1em;
          letter-spacing: .025em;
          display: inline-block;
          -webkit-text-stroke-width: 1px;
          -webkit-text-stroke-color: $white;
          color: transparent;
          -webkit-background-clip: text;
          transition: all .5s ease;
        }
        &-label{
          position: absolute;
          top: 12%;
          right: 0;
          font-size: 17px;
          letter-spacing: 0.075em;
          left: calc(100% + 23px);
          white-space: nowrap;
        }
    }
    @include hover(991){
      &:hover{
        .work-title-value{
          -webkit-text-stroke-color: $red;
          color: $red;
          text-shadow: 0 0 10px rgba(220,45,22,.5);
        }
      }
    }
}