.work{
  position: relative;
  display: block;
    &-title{
      position: relative;
      text-transform: uppercase;
      display: inline-block;
      pointer-events: none;
        &-value{
          font-size: 116px;
          line-height: 1em;
          letter-spacing: .025em;
          display: inline-block;
          -webkit-text-stroke-width: 1px;
          -webkit-text-stroke-color: $white;
          color: transparent;
          -webkit-background-clip: text;
          transition: color .5s ease, -webkit-text-stroke-color .5s ease, text-shadow .5s ease;
        }
        &-label{
          position: absolute;
          top: 12%;
          right: 0;
          font-size: 17px;
          letter-spacing: 0.075em;
          left: calc(100% + 23px);
          white-space: nowrap;
        }
    }
    &-thumb{
      position: absolute;
      top: 20%;
      left: 20%;
      width: 537px;
      height: 312px;
      background-color: $red;
      z-index: 1;
      pointer-events: none;
      opacity: 0;
      transition: opacity .3s ease;
      filter: grayscale(1);
        img{
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
        }
    }
    @include hover(991){
      &:hover{
        .work-title-value{
          -webkit-text-stroke-color: $red;
          color: $red;
          text-shadow: 0 0 10px rgba(220,45,22,.5);
        }
      }
    }
}