.title-1{
  @extend h1;
}

.title-2{
  @extend h2;
}

.title-3{
  @extend h3;
}

.title-4{
  @extend h4;
}

.title-5{
  @extend h5;
}

.regular{
  font-family: "Muli Regular";
}

.bold{
  font-family: "Muli Bold";
}

.monument{
  font-family: "MonumentExtended-Regular";
}

.ttu{
  text-transform: uppercase;
}

.gradient{
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#32b8f4+0,a8ebfc+100 */
  background: rgb(50,184,244); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(50,184,244,1) 0%, rgba(168,235,252,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(50,184,244,1) 0%,rgba(168,235,252,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(50,184,244,1) 0%,rgba(168,235,252,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#32b8f4', endColorstr='#a8ebfc',GradientType=0 ); /* IE6-9 */

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}