.title-1{
  @extend h1;
}

.title-2{
  @extend h2;
}

.title-3{
  @extend h3;
}

.title-4{
  @extend h4;
}

.title-5{
  @extend h5;
}

.regular{
  font-family: "Muli Regular";
}

.bold{
  font-family: "Muli Bold";
}

.monument{
  font-family: "MonumentExtended-Regular";
}

.ttu{
  text-transform: uppercase;
}

.gradient{
  background: rgb(50,184,244);
  background: -moz-linear-gradient(top,  rgba(50,184,244,1) 0%, rgba(168,235,252,1) 100%);
  background: -webkit-linear-gradient(top,  rgba(50,184,244,1) 0%,rgba(168,235,252,1) 100%);
  background: linear-gradient(to bottom,  rgba(50,184,244,1) 0%,rgba(168,235,252,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#32b8f4', endColorstr='#a8ebfc',GradientType=0 );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  //text-shadow: -1px 2px 4px rgba(0, 0, 0, 0.53);
  color: $blue;
}