@font-face {
  font-family: "Gilroy-Light";
  src: url("../fonts/GILROY-LIGHT.woff") format("woff"),
  url("../fonts/GILROY-LIGHT.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy-Light-Italic";
  src: url("../fonts/GILROY-LIGHTITALIC.woff") format("woff"),
  url("../fonts/GILROY-LIGHTITALIC.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy-Regular";
  src: url("../fonts/GILROY-REGULAR.woff") format("woff"),
  url("../fonts/GILROY-REGULAR.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Campton-W00-Book";
  src: url("../fonts/Campton-W00-Book.woff") format("woff"),
  url("../fonts/Campton-W00-Book.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}