<header class="header">
  <div class="container">
    <div class="header-side">
      <div class="header-side-scroll">
        <button class="link-scroll scroll-to">Scroll</button>
      </div>
    </div>
    <div class="header-social">
      <div class="social">
        <a href="https://www.facebook.com/" class="social-link" target="_blank">Facebook</a>
        <a href="https://www.linkedin.com/" class="social-link" target="_blank">LinkedIn</a>
        <a href="https://www.instagram.com/" class="social-link" target="_blank">Instagram</a>
        <a href="https://dribbble.com/" class="social-link" target="_blank">Dribbble</a>
      </div>
    </div>
    <div class="header-nav">
      <nav>
        <ul>
          <li><a href="index.html">Home</a></li>
          <li><a href="work.html">Work</a></li>
          <li><a href="about.html">About</a></li>
          <li><a href="#" class="red">Reach out</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>