<div class="header-side">
  <div class="header-side-logo">
    <a href="index.html" class="logo">
      <span class="logo-title">Crisp Motion
        <span class="logo-title-symbol">
          <img src="../../images/Registered.svg" alt="Crisp Motion" />
        </span>
      </span>
      <span class="logo-image">
        <img src="../../images/logo-mini.svg" alt="Crisp Motion" />
      </span>
    </a>
  </div>
  <div class="header-side-burger">
    <div class="burger">
      <div class="burger-box">
        <div class="burger-box-arrow"></div>
        <div class="burger-box-arrow"></div>
        <div class="burger-box-arrow"></div>
      </div>
    </div>
  </div>
  <div class="header-side-nav">
    <ul>
      <li><a href="index.html">Home</a></li>
      <li><a href="work.html">Works</a></li>
      <li><a href="about.html">About</a></li>
      <li><a href="contacts.html">Contacts</a></li>
    </ul>
  </div>
  <div class="header-side-scroll">
    <button class="link-scroll scroll-to">Scroll</button>
  </div>
</div>