.about{
  min-height: 970px;
  padding: 17px 0 0;
    &-title{
      max-width: 360px;
      margin-bottom: 56px;
    }
    &-description{
      max-width: 360px;
    }
    .section{
        &-border{
          top: 32px;
        }
        &-abstract{
          top: 22.4%;
          right: 12.3%;
        }
    }
    @include d(1500){
      margin-bottom: 100px;
      min-height: 900px;
    }
    @include d(1440){
      min-height: 0;
    }
}