body{
  background-color: $black;
  color: $white;
  font-size: 16px;
  @extend .regular;
}

.has-scroll-smooth{
    body{
      overflow: hidden;
    }
    .section{
      overflow: inherit;
    }
    .gradient{
      background: rgb(50,184,244);
      background: -moz-linear-gradient(top,  rgba(50,184,244,1) 0%, rgba(168,235,252,1) 100%);
      background: -webkit-linear-gradient(top,  rgba(50,184,244,1) 0%,rgba(168,235,252,1) 100%);
      background: linear-gradient(to bottom,  rgba(50,184,244,1) 0%,rgba(168,235,252,1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#32b8f4', endColorstr='#a8ebfc',GradientType=0 );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      text-shadow: none;
    }
}

h1{
  font-size: 64px;
  line-height: 1.05em;
  @extend .monument;
  letter-spacing: .1em;
    @include d(1700){
      font-size: 60px;
    }
    @include d(1500){
      font-size: 58px;
    }
    @include d(1440){
      font-size: 54px;
    }
    @include d(1300){
      font-size: 52px;
    }
    @include d(1200){
      font-size: 46px;
    }
    @include d(992){
      font-size: 44px;
    }
    @include d(767){
      font-size: 34px;
    }
    @include d(575){
      font-size: 28px;
    }
    @include d(480){
      font-size: 20px;
    }
}

h2{
  font-size: 62px;
  line-height: 1.32em;
  @extend .monument;
  letter-spacing: .1em;
    @include d(1700){
      font-size: 58px;
    }
    @include d(1500){
      font-size: 56px;
    }
    @include d(1440){
      font-size: 52px;
    }
    @include d(1300){
      font-size: 50px;
    }
    @include d(1200){
      font-size: 44px;
    }
    @include d(992){
      font-size: 42px;
    }
    @include d(767){
      font-size: 38px;
    }
    @include d(575){
      font-size: 30px;
    }
    @include d(480){
      font-size: 24px;
    }
}

h3{
  font-size: 40px;
  letter-spacing: .1em;
  @extend .monument;
    @include d(1500){
      font-size: 36px;
    }
    @include d(1440){
      font-size: 34px;
    }
    @include d(1300){
      font-size: 32px;
    }
    @include d(1200){
      font-size: 28px;
    }
    @include d(992){
      font-size: 26px;
    }
    @include d(480){
      font-size: 16px;
    }
}

h4{
  font-size: 22px;
  @extend .bold;
  line-height: 1.364em;
    @include d(767){
      font-size: 20px;
    }
    @include d(480){
      font-size: 18px;
    }
}

p, li{
  color: inherit;
  font-family: inherit;
  line-height: 2.125em;
}

#wrapper{
  padding: 0 130px 300px;
  width: 100%;
  height: 100%;
    @include d(1600){
      padding: 0 0 300px;
    }
}

.container{
  margin: 0 auto;
  padding: 0 40px;
  max-width: 1520px;
  width: 100%;
  position: relative;
    @include d(1700){
      max-width: 1340px;
    }
    @include d(1600){
      max-width: 1480px;
    }
    @include d(992){
      padding: 0 60px;
    }
    @include d(480){
      padding: 0 20px;
    }
}

.section{
  position: relative;
  overflow: hidden;
    &-border{
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 1668px;
      height: 100%;
      pointer-events: none;
      text-align: center;
        &-title{
          position: absolute;
          top: 175px;
          right: -25px;
          color: $blue;
          display: inline-flex;
          writing-mode: vertical-rl;
          text-orientation: mixed;
          font-size: 18px;
          white-space: nowrap;
            @include d(1700){
              top: 160px;
            }
            @include d(1600){
              top: 0;
              right: 0;
            }
            @include d(575){
              font-size: 14px;
            }
            @include d(480){
              font-size: 12px;
              top: 20px;
            }
        }
        img{
          margin-right: -10px;
          max-width: calc(100% + 10px);
          object-fit: cover;
            @include d(1600){
              display: none;
            }
        }
        @include d(1700){
          width: 1544px;
        }
        @include d(1600){
          width: 100%;
        }
    }
    &-label{
      position: absolute;
      top: 0;
      left: 40px;
      font-size: 14px;
      letter-spacing: .5em;
      text-transform: uppercase;
      @extend .bold;
      white-space: nowrap;
        @include d(1700){
          left: 0;
        }
        @include d(1600){
          left: 40px;
        }
        @include d(992){
          left: 20px;
        }
        @include d(767){
          font-size: 12px;
        }
        @include d(480){
          font-size: 10px;
        }
    }
    &-content{
      padding: 180px 0 50px;
        &-title{
          text-transform: uppercase;
          margin-left: -160px;
          margin-bottom: 84px;
            span{
              display: block;
            }
            @include d(1600){
              margin-left: 0;
            }
            @include d(992){
              margin-bottom: 40px;
              margin-left: -40px;
            }
            @include d(480){
              margin-left: 0;
            }
        }
        &-subtitle{

        }
        @include d(1500){
          padding: 90px 0 50px;
        }
        @include d(992){
          padding: 60px 0;
        }
        @include d(480){
          padding: 40px 0;
        }
    }
    &-abstract{
      position: absolute;
      max-width: 169px;
      top: 20.2%;
      right: 15.5%;
      pointer-events: none;
    }
}

.follow{
  position: relative;
  height: 250px;
  display: block;
  cursor: none;
    &-link{
      width: 180px;
      height: 180px;
      border-radius: 50%;
      //border: 1px $blue solid;
      position: absolute;
      top: 0;
      left: 0;
      font-size: 20px;
      @extend .monument;
      text-transform: uppercase;
      text-align: center;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      padding-top: 11px;
      letter-spacing: .14em;
      pointer-events: none;
        &-bg{
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%,-50%);
          width: 470px;
          height: 340px;
          mix-blend-mode: screen;
          pointer-events: none;
            @include d(575){
              width: 330px;
              height: 200px;
            }
        }
        &-title{
          position: relative;
          text-shadow: -1px 2px 1px rgba(0, 0, 0, 0.53);
        }
        &-border{
          position: absolute;
          top: -12px;
          left: -12px;
          right: -12px;
          bottom: -12px;
          background-repeat: no-repeat;
          background-size: contain;
          background-position: center;
          background-image: url(../images/border.png);
        }
        @include d(575){
          width: 115px;
          height: 115px;
          font-size: 12px;
        }
    }
    @include d(992){
      height: 180px;
    }
    @include d(575){
      height: 115px;
    }
}

.background{
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 1920px;
  height: 100%;
    picture{
      height: auto;
    }
    img{
        &:not(:first-child){
          margin-top: -5px;
        }
    }
}