body{
  background-color: $black;
  color: $white;
  @extend .light;
  overflow: hidden;
}

h1{
  font-size: 127px;
  letter-spacing: .025em;
  @extend .light;
  line-height: .835em;
}

i{
  font-style: normal;
  @extend .light-italic;
}

/* hide default scrollbar */
::-webkit-scrollbar {
  display: none;
}

#wrapper{
  position: relative;
  padding-left: 115px;
  min-height: 200vh;
  overflow: hidden;
}

.container{
  margin: 0 auto;
  max-width: 1610px;
  padding: 0 125px;
  position: relative;
}

.section{
  position: relative;
    &-box{
      position: relative;
        &-label{
          position: absolute;
          top: 5px;
          left: -185px;
          font-size: 17px;
          text-transform: uppercase;
          letter-spacing: .075em;
          color: $red;
          display: inline-block;
          text-align: right;
          width: 130px;
        }
    }
}

.link{
  font-size: 17px;
  text-transform: uppercase;
  @extend .light;
  letter-spacing: .075em;
  background-color: transparent;
  padding: 0;
  border: none;
  transition: color .3s ease;
    &-scroll{
      @extend .link;
      color: $red;
      font-size: 11px;
      @extend .regular;
    }
    &.active {
      color: $red;
    }
    @include hover(991){
      &:hover{
        color: $red;
      }
    }
}

.social{
  display: inline-flex;
  flex-direction: column;
    &-link{
      @extend .link;
    }
}

.logo{
  display: inline-block;
  position: relative;
    &-title{
      position: absolute;
      top: 0;
      left: 50%;
      display: inline-flex;
      color: $red;
      font-size: 35px;
      white-space: nowrap;
      @extend .campton;
      writing-mode: vertical-rl;
      transform: scale(-1, -1) translateX(50%);
      padding-bottom: 20px;
        &-symbol{
          display: inline-block;
          position: absolute;
          bottom: 2px;
          right: 11px;
          width: 17px;
          height: 17px;
          transform: rotate(90deg);
            img{
              position: absolute;
              top: 0;
              left: 0;
            }
        }
    }
    &-image{
      width: 72px;
      display: inline-block;
      opacity: 0;
      pointer-events: none;
    }
}

.burger{
  position: relative;
  padding: 10px;
  cursor: pointer;
    &-box{
      width: 17px;
      height: 11px;
      position: relative;
      display: block;
        &-arrow{
          position: absolute;
          left: 0;
          height: 1px;
          width: 100%;
          background-color: $white;
            &:nth-child(1){
              top: 0;
            }
            &:nth-child(2){
              top: 50%;
              transform: translateY(-50%);
              width: 70%;
            }
            &:nth-child(3){
              bottom: 0;
            }
        }
    }
}