.details{
  min-height: 1100px;
  padding-top: 20px;
  z-index: 1;
    &-list{
      display: flex;
      margin: 0 -134px 60px;
      padding-top: 53px;
        &-box{
          position: relative;
          text-align: center;
          flex: 1;
            &.where{
              padding-top: 57px;
                .details-title{
                  padding-left: 105px;
                  display: inline-block;
                  position: relative;
                    &:before{
                      content: '';
                      position: absolute;
                      top: calc(100% + 22px);
                      right: -32px;
                      width: 200px;
                      height: 77px;
                      background-repeat: no-repeat;
                      background-size: contain;
                      background-position: center;
                      background-image: url(../images/details/details-where-arrow.png);
                    }
                }
            }
            @include d(992){
              margin-bottom: 100px;
            }
        }
        @include d(992){
          flex-direction: column;
        }
    }
    &-title{

    }
    &-thumb{
      height: 390px;
      position: relative;
      margin-bottom: 28px;
      text-align: center;
        &-label{
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-22%,-50%);
        }
        @include d(1300){
          height: 300px;
        }
    }
    .section{
        &-border{
          top: 29px;
        }
        &-abstract{
          right: 0.6%;
          top: 50.8%;
            @include d(992){
              top: 77.8%;
            }
            @include d(575){
              right: -11.4%;
            }
            @include d(480){
              top: 84.8%;
            }
        }
        &-content {
            &-title {
              margin-top: -22px;
              margin-bottom: 50px;
            }
            &-subtitle {
              max-width: 520px;
            }
        }
    }
    .follow{
      margin-left: 30px;
        &-link{
          top: 45px;
            @include d(992){
              top: 0;
              left: 50%;
              transform: translateX(-50%);
            }
        }
        @include d(992){
          margin-left: 0;
          margin-top: 150px;
        }
    }
    @include d(1500){
      min-height: 0;
    }
}

.where{
    &-title{
      position: absolute;
      top: 56px;
      right: 190px;
      min-height: 215px;
        &-circle{
          width: 103px;
          height: 103px;
          background-repeat: no-repeat;
          background-size: contain;
          background-position: center;
          background-image: url(../images/details/details-where-circle.png);
          margin: 72px 0 0 -60px;
          position: relative;
            img{
              position: absolute;
              top: 50%;
              left: 50%;
              margin-top: -23px;
              margin-left: -22px;
              pointer-events: none;
            }
        }
        @include d(992){
          right: 50%;
          transform: translateX(50%);
        }
    }
}

.much{
    &-counter{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      font-size: 38px;
      white-space: nowrap;
      @extend .bold;
      text-shadow: -1px 2px 1px rgba(0, 0, 0, 0.53);
        @include d(1440){
          font-size: 32px;
        }
        @include d(1200){
          font-size: 30px;
        }
    }
}