.header{
  position: absolute;
  top: 0;
  left: 115px;
  width: calc(100% - 115px);
  padding-top: 40px;
  z-index: 1;
    &-side{
      position: fixed;
      top: 0;
      left: 0;
      height: 100%;
      width: 115px;
      z-index: 1;
        &:before{
          content: '';
          position: absolute;
          right: 0;
          top: -100px;
          bottom: -100px;
          width: 1px;
          background-color: $red;
        }
        &-scroll{
          position: absolute;
          bottom: 33px;
          width: 100%;
          text-align: center;
        }
        &-nav{
          position: absolute;
          display: none;
          top: 0;
          left: 115px;
          width: calc(100vw - 115px);
          height: 100%;
          z-index: 1;
            &:before{
              content: '';
              position: absolute;
              top: 0;
              left: -115px;
              right: 0;
              bottom: 0;
              background-color: $black;
              pointer-events: none;
            }
        }
        &-logo{
          position: absolute;
          top: 35px;
          left: 50%;
          transform: translateX(-50%);
          z-index: 2;
        }
        &-burger{
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%,-88%);
          z-index: 2;
        }
        //&-line{
        //  position: absolute;
        //  width: 1px;
        //  bottom: -50px;
        //  right: 0;
        //  background-color: $black;
        //}
        &.light-theme{
          .burger-box-arrow{
            background-color: $black;
          }
        }
    }
    &-nav{
      position: absolute;
      top: 3px;
      right: -8px;
        ul{
          display: flex;
          align-items: center;
        }
        li{
            &:not(:first-child){
              padding-left: 67px;
            }
        }
        a{
          @extend .link;
        }
    }
}