.motivation{
  min-height: 815px;
    &-banner{
      margin: 100px 0 0 -240px;
        @include d(1500){
          margin: 100px 0 0 -155px;
          max-width: 90vw;
        }
    }
    &-content{
      position: absolute;
      top: -175px;
      right: 0;
      max-width: 355px;
        &-thumb{
          position: relative;
          width: 225px;
          margin-bottom: 40px;
          -moz-transform: perspective(1000px);
          -moz-transform-style: preserve-3d;
          -webkit-perspective: 1000px;
          box-shadow: 25px 25px 32px 0 rgba(0,0,0,0.5);
        }
        &-description{
          padding-top: 22px;
        }
        @include d(1500){
          right: 45px;
        }
    }
    @include d(1440){
      padding-top: 50px;
    }
    @include d(1300){
      min-height: 0;
      margin-bottom: 100px;
    }
}