.rcg{
  min-height: 970px;
  padding-top: 4px;
  margin-bottom: 150px;
    &-content{
      padding-top: 5px;
      max-width: 700px;
        &-title{
          margin-bottom: 41px;
          max-width: 610px;
        }
    }
    &-video{
      position: absolute;
      bottom: 14%;
      right: -13%;
      width: 960px;
      height: 640px;
      z-index: -1;
      mix-blend-mode: screen;
        video{
          width: 100%;
        }
        @include d(1700){
          right: -22%;
        }
        @include d(1500){
          bottom: 8%;
        }
        @include d(1300){
          width: 760px;
          height: 440px;
          right: -14%;
          bottom: 2%;
        }
        @include d(1200){
          bottom: -7%;
        }
        @include d(992){
          bottom: -13%;
          right: -31%;
        }
        @include d(767){
          position: relative;
          bottom: 0;
          right: 0;
          width: 100vw;
          height: auto;
          margin-left: -60px;
          z-index: 0;
        }
        @include d(480){
          margin-left: -20px;
          margin-top: 40px;
        }
    }
    .section{
        &-content {
            .title-1 {
              margin-bottom: 17px;
            }
        }
        &-border{
          top: 17px;
        }
    }
    .follow{
      margin-left: 52px;
        &-link{
          top: 24%;
            @include d(992){
              top: 0;
            }
            @include d(767){
              left: 50%;
              transform: translateX(-50%);
            }
        }
        @include d(992){
          margin-left: 0;
        }
    }
    @include d(1500){
      min-height: 0;
    }
    @include d(1440){
      margin-bottom: 80px;
    }
    @include d(767){
      margin-bottom: -50px;
    }
}

.goals{
    &-title{
      margin-bottom: 22px;
    }
    &-list{
      display: flex;
      flex-wrap: wrap;
        &-box{
          width: 50%;
          margin-bottom: 30px;
            @include d(767){
              padding-right: 20px;
            }
            @include d(480){
              width: 100%;
            }
        }
    }
}

.goal{
    &-title{
      color: $blue;
      margin-bottom: 12px;
    }
    &-subtitle{
      line-height: 1.5em;
      max-width: 250px;
    }
}